version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: mail_art_creation
      MYSQL_ROOT_PASSWORD: ${WORDPRESS_DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      # This line automatically imports your database on first start
      - ./db_dump.sql:/docker-entrypoint-initdb.d/db_dump.sql

  wordpress:
    image: wordpress:latest
    depends_on:
      - db
    ports:
      - "8080:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: password123
      WORDPRESS_DB_NAME: mail_art_creation
    volumes:
      - .:/var/www/html

volumes:
  db_data:
